<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <% if user_signed_in? %>
        <a href="/<%= file %>/edit">edit</a>
        <form class="inline" action="/<%= file %>/duplicate" method="post">
          <button type="submit">duplicate</button>
        </form>
        <form class="inline" action="/<%= file %>/delete" method="post">
          <button type="submit">delete</button>
        </form>
      <% end %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <p><a href="/new">New Document</a></p>
  <form action="/users/signout" method="post">
    <p class="signin-status">
      Signed in as <%= signed_in_username %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="signin-status">
    <a href="/users/signin">Sign In</a>
  </p>
<% end %>

